<!doctype html>
<html>
  <head>
    <title>dblurb</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <a href="/"><h1>dblurb</h1></a>
    <p><a href="users/list">List users</a></p>
    <p><a href="users/register">Register with us</a></p>
    <p><a href="users/login">Login</a></p>
  </body>
</html>
